html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* General Styling */

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 125%;
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, li, p, button, label, nav {
    font-family: 'Poppins', sans-serif;
}

p {
    font-size: 0.9rem;
}

nav {
    font-size: 0.85rem;
}

li {
    list-style: none;
}

a, .logo, h1, h2, h3, h4, h5 {
    color: #fff;
}

a {
    text-decoration: none;
    text-transform: uppercase;
}

h1, h2, h3 {
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 3.5rem;
    margin-bottom: 30px;
}

h2 {
    font-size: 2.2rem;
    font-weight: 400;
}

h3 {
    font-size: 2.6rem;
    margin-bottom: 90px;
}

h4 {
    font-size: calc(1rem + 1.8vw);
    margin-bottom: 10px;
}

h5 {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

/* img {
    max-width: 100%;
    height: auto;
    display: block;
} */

.about-section, .skills-section, .project-section, .contact-section {
    background-color: #101010;
}

/* Wrapper style */

.wrapper {
    max-width: 1200px;
    width: 90%; 
    margin: 0 auto;
}

/* nav styles */

nav {
    background-image: url(./assets/stars-2\ copy.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 10vh;
    display: flex;
    position: relative;
    padding-top: 15px;
}

.logo {
    font-family: 'Yellowtail', cursive;
    font-size: 1.5rem;
    position: absolute;
    cursor: pointer;
    left: 6%;
    top: 55%;
    transform: translate(-5%, -50%);
    border-bottom: 2px solid #009e66;;
}

.standard-ul {
    display: flex;
    height: 100%;
    width: 45%;
    justify-content: space-evenly;
    margin-left: auto;
    align-items: center;
    z-index: 10;
}

.standard-ul li, .standard-ul a {
    position: relative;
}

.standard-ul a {
    display: inline-block;
    padding-bottom: 5px;
}

.standard-ul a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: '';
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #009e66;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.standard-ul a:hover:after { 
    width: 100%; 
    left: 0; 
}


/* header styles */

header {
    background-image: url(./assets/stars-2\ copy.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 90vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.heading {
    margin-bottom: 70px;
}

.scroll-down{
	position: absolute;
	top: 90%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.scroll-down span{
	display: block;
	width: 20px;
	height: 20px;
	border-bottom: 2px solid white;
	border-right: 2px solid white;
	transform: rotate(45deg);
	margin: -10px;
	animation: animate 2.7s infinite;
}

.scroll-down span:nth-child(1)
{
	animation-delay: -0.2s;
}

.scroll-down span:nth-child(2)
{
	animation-delay: -0.4s;
}

@keyframes animate{
	
	0%{
		opacity: 0;
		transform: rotate(45deg) translate(-20px, -20px);
	}
	50%{
		opacity: 1;
	}
	100%{
		opacity: 0;
		transform: rotate(45deg) translate(20px, 20px);
	}
}

/* About Section */

.about-text p {
    color: #e6e6e6;
    line-height: 1.3;
    margin-bottom: 45px;
    font-size: 1rem;
    text-align: left;
}

.about-text a {
    text-transform: uppercase;
    border-radius: 30px;
    padding: 5px 30px;
    cursor: pointer;
    color: #fff;
    background-color: #009e66;
    border: 1px solid #009e66;
    font-family: 'Poppins', sans-serif;
    transition: 0.3s ease-in-out;
}

.about-section {
    padding-top: 120px;
}




/* Skills Section */

.skills-section {
    padding-top: 120px;
}

.skill-icons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(165px, 1fr));
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    gap: 20px 10px;
}

.skill-icons li {
    background-color: #161616;
    width: 160px;
    height: 150px;
    padding-top: 20px;
    /* box-shadow: 5px 5px 5px #0000003e, -2px 0 2px #00000027; */
    text-align: center;
    transition: transform 300ms;
}

.skill-icons li:hover, .skill-icons li:focus {
    border-bottom: 2px solid #009e66;
}

.skill-icons i {
    font-size: 3rem;
    padding-bottom: 10px;
    color: #009e66;
}

.skill-icons li p {
    color: #fff;
}

.skill-icons li:nth-child(6) p, .skill-icons li:nth-child(7) p {
    padding-top: 10px;
}


/* Project Section */

.project-section {
    padding-top: 150px;
}

.project-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 50px;
    column-gap: 50px;
    height: 100%;
}

.project {
    background-color: #161616;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.project-image-container {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-image-container a {
    display: inline-block;
}

.tools, .project-description {
    color: white;
}

.project-content-container {
    flex-grow: 10;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.tools {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.tools li {
    font-weight: 600;
    font-size: 1rem;
    padding: 8px 5px 8px 0px;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.project-description {
    font-size: 0.9rem;
    line-height: 1.3rem;
    margin-bottom: 2rem;
}

.button-links a:first-child {
    margin-right: 2%;
}

.button-links a {
    border-bottom: 2px solid #009e66;
    transition: 0.3s ease-in-out;
}

.button-links a:hover, .button-links a:focus  {
    border-radius: 3px;
    padding: 5px 10px;
    background-color: #01b978;
    border: 2px solid #009e66;
}


/* Contact Section */

.contact-section {
    padding-top: 150px;
}

.contact-text {
    text-align: center;
    margin-bottom: 90px;
}

.contact-text h3 {
    margin-bottom: 30px;
}

.contact-container {
    display: flex;
    justify-content: center;
    padding-bottom: 55px;
}

.contact-text p {
    margin-bottom: 45px;
    font-size: 1.1rem;
    color: #9f9f9f;
}

.contact-links {
    font-size: 2rem;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.contact-links li:nth-child(-n+3) {
    margin-bottom: 30%;
}

.contact-links li a {
    color: #009e66;;
}

.contact-links li {
    transition: transform 300ms;
}

.contact-links li:hover {
    transform: scale(1.3);
    cursor: pointer;
}

form {
    width: 50%;
}

form input, textarea {
    background-color: #161616;
    border: none;
    color: #fff;
    border-bottom: 1px solid #1d1d1d;
}

input::placeholder, textarea::placeholder {
    color: #777;
    opacity: 1;
}

.name-container, .email-container, .message-container, .name-email-container {
    display: flex;
}

.name-container, .email-container, .message-container {
    flex-direction: column;
}

.name-container {
    width: 40%;
}

.email-container {
    margin-left: 15px;
    width: 60%;
}

.message-container {
    margin-top: 25px;
}

input {
    padding: 10px 20px;
}

textarea {
    resize: none;
    padding: 10px 10px 80px;
}

button {
    margin-top: 40px;
    text-transform: uppercase;
    border-radius: 30px;
    padding: 10px 40px;
    cursor: pointer;
    color: #fff;
    background-color: #009e66;
    border: 1px solid #009e66;
    transition: 0.3s ease-in-out;
}

button:hover, button:focus, .about-text a:hover, .about-text a:focus {
    letter-spacing: 2px;
}

/* Footer Section */

footer {
    padding: 10px;
    text-align: center;
}

footer p {
    font-size: 1rem;
}

/* Media */

@media(max-width: 1300px) {
    .skills-section, header, .contact-section {
        background-attachment: scroll;
    }
}

@media(max-width: 930px) {
    form {
        width: 70%;
    }
}

@media(max-width: 810px) {
    .project-content-container {
        padding: 20px;
    }
}

@media(max-width: 768px) {
    nav {
        position: relative;
        transition: 0.2s ease-out;
    }

    nav.padding {
        padding-top: 0px;
    }

    .line-1, .line-2, .line-3{
        width: 30px;
        height: 3px;
        background: #fff;
        margin: 5px;
        transition: all 0.4s ease;
    }

    .burger-menu {
        position: absolute;
        cursor: pointer;
        right: 7%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 20;
        transition: all 0.3s ease;
    }

    .line-1.color, .line-2.color, .line-3.color {
        background: #000;
    }

    .standard-ul {
        position: fixed;
        background: #fff;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(100px at 110% -15%);
        -webkit-clip-path: circle(100px at 110% -15%);
        transition: all 1s ease-out;
        pointer-events: none;
    }

    .standard-ul.open {
        clip-path: circle(1500px at 110% -15%);
        -webkit-clip-path: circle(1500px at 110% -15%);
        pointer-events: all;
    }

    .toggle .line-1 {
        transform: rotate(-49deg) translate(-5px,7px);
    }

    .toggle .line-2 {
        opacity: 0;
    }

    .toggle .line-3 {
        transform: rotate(50deg) translate(-4px,-6px);
    }

    .standard-ul li {
        opacity: 0;
    }

    .standard-ul li:nth-child(1) {
        transition: all 0.5s ease 0.3s;
    }

    .standard-ul li:nth-child(2) {
        transition: all 0.5s ease 0.4s;
    }

    .standard-ul li:nth-child(3) {
        transition: all 0.5s ease 0.5s;
    }

    .standard-ul li:nth-child(4) {
        transition: all 0.5s ease 0.6s;
    }

    .standard-ul a {
        color: #000;
    }

    .standard-ul li.fade {
        opacity: 1;
    }

    .standard-ul a:after {
        background: #000;
    }

    .contact-container {
        flex-direction: column;
    }

    .contact-container {
        align-items: center;
    }
    
    .contact-links {
        font-size: 2rem;
        margin-right: 0px;
        display: flex;
        justify-content: flex-start;
        align-self: flex-start;
        flex-direction: row;
    }
    .contact-links li {
        margin: 15px 20px 15px 0px;
    }

    form {
        width: 90%;
    }

}

@media(max-width: 690px) {
    .project-list {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, auto);
        row-gap: 50px;
    }
}

@media(max-width: 550px) {
    .contact-text p {
        font-size: calc(1rem + 0.5vw);
    }

    .contact-links {
        align-self: center;
        margin-bottom: 15px;
    }

    .name-email-container {
        flex-direction: column;
    }

    .email-container {
        margin-left: 0px;
    }

    .name-container {
        margin-bottom: 25px;
    }

    textarea {
        padding: 10px 20px 80px;
    }
    
    .email-container, .name-container {
        width: 100%;
    }
}


@media(max-width: 414px) {
    h1 {
        font-size: calc(1.9rem + 1.6vw);
    }

    h2 {
        font-size: calc(1.6rem + 2vw);
    }

    h3 {
        font-size: calc(2rem + 0.5vw);
    }

    h5 {
        font-size: calc(1.3rem + 0.5vw);
    }

    .about-text p {
        font-size: 0.9rem;
    }

    .skill-icons {
        grid-template-columns: repeat(auto-fit, minmax(115px, 1fr));
        gap: 20px 15px;
    }

    .skill-icons li {
        height: 120px;
        width: 120px;
    }

    .contact-text p {
        font-size: calc(0.9rem + 0.9vw);
        line-height: 1.2;
    }

}

@media(max-width: 320px) {
    h1 {
        font-size: calc(1.7rem + 1.6vw);
    }

    .standard-ul {
        clip-path: circle(100px at 110% -17%);
        -webkit-clip-path: circle(100px at 110% -17%);
    }

    .standard-ul.open {
        clip-path: circle(1500px at 110% -17%);
        -webkit-clip-path: circle(1500px at 110% -17%);
    }
}